parameters:
	level: max
	paths:
		- src
		- tests
	ignoreErrors:
		- identifier: missingType.iterableValue
		  paths:
		  	- tests
		- identifier: function.alreadyNarrowedType
		- identifier: function.impossibleType
