name: CI

on:
  push:
  pull_request:

jobs:
  ci:
    name: PHP ${{ matrix.php }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        php:
          - "8.4"

    steps:
      - uses: actions/checkout@v4

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          extensions: json
          coverage: xdebug

      - name: Cache Composer dependencies
        uses: actions/cache@v4
        with:
          path: ~/.composer/cache/files
          key: composer-php${{ matrix.php }}-${{ hashFiles('composer.lock') }}
          restore-keys: composer-php${{ matrix.php }}-

      - name: Install dependencies
        run: composer install --no-interaction --prefer-dist

      - name: Run tests
        run: vendor/bin/phpunit --coverage-clover=coverage.xml

      - name: Run PHPStan
        run: vendor/bin/phpstan analyse

      - name: Run linter
        run: vendor/bin/phpcs --standard=PSR12 ./src ./tests

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4
        with:
          files: coverage.xml
